p {
    line-height: 2rem;
    font-family: monospace, fantasy, cursive;
}

.outline-border {
    padding: 1rem;
    display: inline-block;
    font-size: larger;
    background:rgba(152, 137, 158, 0.5)
}

.for-mail-link a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.for-mail-link a:link {
    color: rgb(100, 70, 113); 
    background-color: transparent; 
    text-decoration: none;
  }
  
  .for-mail-link a:visited {
    color: rgb(100, 70, 113);
    background-color: transparent;
    text-decoration: none;
  }
  
  .for-mail-link a:hover {
    color: rgb(180,180,180);
    background-color: rgb(50,50,50);
    text-decoration: underline;
  }
  
  .for-mail-link a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  