@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Light.ttf') format('truetype');
}

main {
  padding-left: 4rem;
  padding-right: 4rem;
}

h1 {
  font-size: 3rem;
  text-align: center;
}
.center-img {
  text-align: center;
}

.p-one img {
    width: 50vh;
}

.p-two img {
    width: 50vh;
}

.p-three img {
    width: 50vh;
}

.p-container * {
    box-sizing: border-box;
    font-family: 'Lato';
  }

.p-container h3 {
    font-size: 2rem;
}

.p-container {
    font-size: 1.5rem;
}
  
  .p-container a:link {
    color: rgb(100, 70, 113); 
    background-color: transparent; 
    text-decoration: none;
  }
  
  .p-container a:visited {
    color: rgb(100, 70, 113);
    background-color: transparent;
    text-decoration: none;
  }
  
  .p-container a:hover {
    color: rgb(180,180,180);
    background-color: rgb(50,50,50);
    text-decoration: underline;
  }
  
  .p-container a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
  }
  
  .p-container body {
    margin: 0;
      /* background-color: rgb(180,180,180) */
  }
  
  
  .p-container .column {
    float: left;
    padding: 20px;
      /* background-color: rgb(180,180,180); */
  }
  
  .p-container .column.left {
    width: 40%;
      text-align: left;
  }

  .p-container .column.right {
    width: 60%;
  }
  
  /* Clear floats after the columns */
  .p-container .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .main-project {
    margin: auto;
  }

  .the-back {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
    max-width: 950px;
  }
  
  @media screen and (max-width: 950px) {
    .p-container .column.left, .p-container .column.right {
      width: 100%;
    }
  }